*{
    padding :0;
    margin : 0;
}

.header {
    height :var(--height-nav);
    background-image: linear-gradient(0,#ff6633,#f53e2d)
}
.header__navbar {
    display : flex;
    justify-content : space-between;
}
.header__navbar-list{ 
    list-style : none;
    margin-top: 10px;
    height: var(--height-header-nav);

}
.header__navbar-item{
    margin : 0 8px;
    position : relative;
}

.header__navbar-item {
    display : inline-block;
    font-size : 1.4rem;
    color : var(--white-color);
    text-decoration : none;
    font-weight : 300;
}   
.header__navbar-item--strong{
    font-weight : 400;
}

.header__navbar-item--separate::after {
    content : "";
    display : block;
    position : absolute;
    border-left : 1px solid var(--white-color);
    height : 14px;
    right : -9px;
    top : 50%;
    transform : translateY(-50%);
}
.header__navbar-item:hover,.header__navbar-icon-link:hover,.header__navbar-item-link:hover {
    color : rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
a.header__navbar-icon-link  {
    color : var(--white-color);
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin : 0 2px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color : var(--white-color);

}

.header__qr {
    color : var(--white-color);
    width : 186px;
    position : absolute;
    left : 0;
    top :100%;
    border-radius: 2px;
    display : none;
    animation : fadeIn ease-in 0.4s;
}
.header__navbar-item--qr:hover .header__qr{
    display: block;
    margin-top: 10px;
}
.header__qr::before {
    content:"";
    display : block;
    position : absolute;
    width : 100%;
    height : 20px;
    top: -5%;
    
}
.header__img-qr{
    width: 100%;
    
    
}
.header__qr-app {
    display : flex;
    justify-content: space-between;
}
.header__qr-link:first-child {
    margin-left: 11px;
}
.header__qr-link:last-child{
    margin-right : 11px;
}

.header__img-download {
    height: 17px;
    
}



/* header notification */
.header__notify {
    position: absolute;
    top: 140%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    display: none;
    will-change: opacity, transform;
    transform-origin: 88% top;
    animation: GrowNotify ease-in 0.25s;
}

@keyframes GrowNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify--see:hover .header__notify{
    display:block;
}
.header__notify::before{
    display : block ;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top : -32px; 
}

.header__notify-header{
    height :    40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color:  #999;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 40px;
    margin : 0 0 0 12px;
    cursor: text;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    
}

.header__notify-link{
    display : flex;
    padding: 6px 12px ;
    text-decoration: none;
    background-color: rgba(238,75,43,0.07);
}
.header__notify-link:hover{
    background-color : #F3F3F3;
}
.header__notify-img{
    object-fit: contain;
    width: 48px;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block ;
    font-size: 1.4rem;
    color : black;
    font-weight: 400;
}

.header__notify-description{
    display: block ;
    font-size: 1.2rem;
    color : #999;
    line-height: 1.6rem;
}
.header__notify-viewall{
    display:flex;
    height: 30px;
}
.header__notify-viewall-link{
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    padding: 0 px;
}



/* modal    ----------------------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;

}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  rgba(137, 137, 137, 0.54);

}

.modal__container {
    width: 504px;
    /* height: 530px; */
    position: relative;
    background-color: white;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;

}
.modal__innner{
    padding: 20px 30px 55px 30px;
}
.modal__body {
    position: relative;
    margin: auto;
    will-change: opacity, transform;
    animation: zoomin linear 0.2s ;

}
.modal__header-inner{
    display: flex;
    justify-content: space-between; 
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.modal__register{
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.modal__login {
    color : var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
}
.modal__form-inner{
    display : flex;
    flex-direction: column;
    margin-top: 35px;
}
.modal__input {
    display: block;
    font-size: 1.4rem;
    height: 40px;
    width: 100%;
    color :black;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    outline: none;
}

.modal__input:focus {
    border-color : #888;
}
.modal__service{
    margin-top: 20px;
    font-size: 1.2rem ;
    text-align: center;
    line-height: 1.6rem;
    padding : 0 5px;
    margin-bottom: 80px;
}

.modal__service-link {
    color : var(--primary-color);
}
.modal__button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
}

.modal__footer{
    display: flex;
    background-color: #F5F5F5;
    padding: 12px 36px;
    justify-content: space-between;
}
.modal__footer-link-fb{
    color: white;
    height: 32px;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    background-color:rgb(58,89,152);
    padding: 0 12px;
}
.fab.fa-facebook-square{

    font-size: 1.8rem;
}
.fab.fa-google{

    font-size: 1.8rem;
}

.modal__footer-link-gg{
    height: 32px;
    color: black;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    padding: 0 12px;
    background-color: white;
}
.modal__conect{
    padding: 0 30px;
}

.modal__service--login {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 30px;
}
.modal__service--forgotpass {
    color: var(--primary-color);
    /* display: block; */
    font-size: 1.4rem;
}
.modal__service--help {
    color: #999;
    font-size:1.4rem ;
}
.separate {
    display: block;
    height: 22px;
    background-color: #999;
    border: 1px solid #DBDBDB;
    margin: 0 16px;
}



.header__with-search {
    display: flex;
    align-items: center;
}
.header__logo{
    width: 200px;
}
.headr__search-img  {
    width: 150px;
}
.header__search {
    background-color: white;
    height: 40px;
    flex: 1;
    margin: 0 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}   
.header__search-history{
    position: absolute;
    top: 110%;
    background-color: white;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: none;
    overflow: hidden;
}
.header__search-infor:focus ~.header__search-history {
    display :block ;
}
.header__search-history--heading{
    background-color: rgb(245, 245, 245);
    padding-left: 20px;
}
.header__search--heading{
    color: #999;
    font-size: 1.4rem ;
}
.header__search-history-list{
    
}
.header__search-history-content {
    margin-left: 20px;
}
.header__search-history-item{
    font-size: 1.2rem;
    margin-top: 3px;
}
.header__search-history-item:hover{
    background-color: #DBDBDB;
}
.header__search-history-item:last-child {
}
.header__search-infor{
    height: 40px;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.4rem;
    padding-left: 20px;
    cursor: text;

}
.header__search-press{
    height: 34px;
    width: 60px;
    background-color: var(--primary-color);
    display: flex;
    margin-right: 2.5px;
    cursor: pointer;
    border-radius: 2px;
}
.header__search-press-btn {
    margin: auto;
    color: white;
    font-size: 1.4rem;
}
.header__cart{
    width: 150px;
    position: relative;
}
.header__cart-notice::before {
    content: "";
    display: block;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent  rgb(245, 245, 245) transparent;
    position: absolute;
    top: -22%;
    right: 0%;
}
.header__cart-icon {
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
}

.header__cart-notice{
    position: absolute;
    width: 390px;
    right: 71%;
    top: 120%;
    background-color: white;
    border-radius: 2px;
    /* overflow: hidden; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: none;

}
.header__cart-icon:hover ~ .header__cart-notice {
    display: block;
}

.header__cart-notice-heading{
    background-color: rgb(245, 245, 245);
    height: 30px;
    line-height: 30px;
    cursor: text;
}

.header__cart-notice-content{
    font-size: 1.4rem;
    padding-left: 20px;
    font-weight: 400;
    color: #999;
}

.header__cart-notice-list{
    display: flex;
}

.header__cart-notice-list-img{
    width: 42px;
    height: 42px;
    margin: 12px;
}
.header__cart-notice-more{
    flex: 1;
    margin-top: 12px;
    margin-right: 10px;
}
.header__cart-notice-list-content{
    font-size: 1.2rem;
}
.header__cart-notice-list-text{
    display: flex;
    justify-content: space-between;
}
.header__cart-notice-list-price{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 900;
}

.header__cart-notice-delete-btn{
    text-align: end;

}
.header__cart-notice-delete{
    font-size: 1.2rem;
}
.header__cart-notice-viewall{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
}
.header__cart-notice-viewmore{
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 8px 20px;
    font-size: 1.2rem;
}




/* ANIMATION */
@keyframes zoomin {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        opacity:1;
        transform: scale(1);
    }
}

